@model RoleFormViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer



<form method="post" asp-action="CreateNewRole">
    <div class="input-group mb-3">
        <input asp-for="name" class="form-control" placeholder="@localizer["Role Name"]" required />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">@localizer["Create New Role"]</button>
        </div>
    </div>
    <span asp-validation-for="name" class="text-danger"></span>
</form>

