@model IEnumerable<Category>
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<form class="form" method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="input-grup">
        <div class="row">
            <label for="Name OF SubCategory">Name OF SubCategory</label>
            <input id="Name OF SubCategory" name="name" class="form-control" placeholder="Enter Name" required />
        </div>
        <div class="row">
            <label for="Image">image</label>
            <input id="Image" name="Photo" placeholder="Image" type="file" class="form-control" required />
        </div>
        <div class="row" >
            <label for="Name of Category">Name of Category</label>
            <select id="Name of Category" name="CategoryName" class="form-select form-select-lg mb-3">
                @foreach (var cat in Model)
                {
                    <option>@cat.Name</option>
                }
            </select>
        </div>
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary mt-2">Create New SubCategory</button>
            <a asp-action="Index" class="btn btn-primary mt-2 ml-2">Back to List</a>
        </div>
    </div>
</form>