@model List<Category>
@{
    ViewData["Title"] = "Categories";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 style="text-align:center">What Category Do You Need ?</h1>

<div class="mt-3">
    @foreach (var cat in Model)
    {
        <a class="btn btn-primary " asp-action="SubCategories" asp-route-id="@cat.id">@cat.Name</a> 
    }
</div>